<?xml version="1.0"?>
<!--
/**
 * Amadeco ElasticsuiteStock Module
 *
 * @category   Amadeco
 * @package    Amadeco_ElasticsuiteStock
 * @author     Ilan Parmentier
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amadeco_elasticsuite_stock" translate="label" type="text" sortOrder="450" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Stock Filter</label>
            <tab>smile_elasticsuite</tab>
            <resource>Smile_ElasticsuiteCore::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="respect_backorders" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Respect Backorders Configuration</label>
                    <comment>If set to Yes, stock filter will respect system backorders configuration for determining product stock status</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="consider_qty" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Consider Product Quantity</label>
                    <comment>If set to Yes, stock filter will consider product quantity for No Backorders mode. Products with qty ≤ 0 will be considered out of stock.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="respect_backorders">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>